[submodule "ailia-sdk-jni"]
	path = ailia-sdk-jni
	url = git@github.com:axinc-ai/ailia-sdk-jni.git
[submodule "ailia-tokenizer-jni"]
	path = ailia-tokenizer-jni
	url = git@github.com:axinc-ai/ailia-tokenizer-jni.git
[submodule "ailia-tflite-jni"]
	path = ailia-tflite-jni
	url = git@github.com:axinc-ai/ailia-tflite-jni.git
[submodule "ailia-tracker"]
	path = ailia-tracker
	url = git@github.com:axinc-ai/ailia-tracker.git
